<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Avayah - Cloud Of Things Solutions</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">     
<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  </div>      
    <div id="content">
      {{{body}}}      
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
  </body>
</html>
