/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial sans-serif;
}
a {
  color: #00B7FF;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 3em;
}
strong {
  font-weight: bold;
}
label {
  display: block;
  float: left;
  width: 120px;
  clear: left;
}
.clear {
  clear: both;
}
#content {
  height: 300px;
}
.header {
  background-color: #1ABC9C;
  border-color: #46b8da;
  height: 35px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-right: 20px;
  text-align: right;
}
.header a {
  color: #FFFFFF;
}
.login-box {
  background: #ECF0F1;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 30px;
  border-radius: 40px;
}
.login-box form {
  padding-left: 30px;
  padding-right: 30px;
}
.login-box button {
  width: 100%;
}
.login-box input {
  border-radius: 0px;
  box-shadow: inset 0 0px 0px;
}
.login-box button {
  border-radius: 0px;
  background: #1ABC9C;
  border-color: #1ABC9C;
}
.login-box .title-logo {
  background-color: #1ABC9C;
  padding-top: 5px;
  padding-bottom: 5px;
}
.login-box .title-logo h2 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 75px;
  color: white;
}
.login-box .login-bottom {
  margin-top: 30px;
  border-top: solid 1px #d3d3d3;
}
.login-box .login-bottom p {
  margin-top: 10px;
  text-align: center;
  color: #878797;
}
.login-box .login-header {
  margin-bottom: 20px;
}
.login-box .login-header h3 {
  text-align: center;
  font-weight: 300;
  color: #16A085;
}
.device-input {
  margin-bottom: 10px;
}
.device_small,
.device_full {
  width: 325px;
  height: 100px;
  float: left;
  border: solid 1px #c0c0c0;
  box-shadow: 1px 1px 1px #c0c0c0;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.device_small .details,
.device_full .details {
  width: 100%;
  padding: 1px;
  height: 45px;
  margin-bottom: 5px;
}
.device_small .hub-status,
.device_full .hub-status {
  border-radius: 10px;
  color: lightcoral;
  position: relative;
  width: 30%;
}
.device_small .active-switch,
.device_full .active-switch {
  color: #99FF99 !important;
}
.device_small .default-device,
.device_full .default-device {
  font-size: 60px;
  color: #999;
  float: right;
  width: 45px;
  height: 45px;
  margin-right: 5px;
  cursor: pointer;
}
.device_small .sensor-device,
.device_full .sensor-device {
  font-size: 55px;
  color: #999;
  float: right;
  width: 45px;
  height: 45px;
  margin-right: 85px;
}
.device_small .empty-device,
.device_full .empty-device {
  font-size: 60px;
  color: #999;
  float: right;
  width: 45px;
  height: 45px;
  margin-right: 30px;
}
.device_small .pwm-device,
.device_full .pwm-device {
  color: #999;
  float: right;
  width: 120px;
  height: 45px;
  margin-right: 10px;
}
.device_full {
  float: none;
  height: 325px;
}
.device_full img {
  margin-left: 5px;
}
.add_device label {
  display: inline-block;
  width: 120px;
  float: left;
  clear: left;
}
.add_device .switch-box {
  width: 50px !important;
}
#output {
  margin-top: 2em;
  font-size: .9em;
  border: solid 1px #c0c0c0;
  background-color: #f0f0f0;
  padding: 5px;
}
#output li {
  margin-left: 30px;
  list-style-type: decimal;
}
