<h2>Add a device</h2>

<div class="add_device">
	<div class="device-input">
    	<label for="name">Name:</label> <input type="text" id="name" />
	</div>

	<div class="device-input">    
    	<label for="serial">Serial Code:</label> <input type="text" id="serial" />
    </div>

    <div class="device-input">
        <label for="switch-number">Switch Number:</label>
        <select class="form-control switch-box" id="switch-number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>            
            <option value="8">8</option>
        </select>        
    </div>

    <div class="device-input">
        <label for="description">Description:</label> <input type="text" id="description" />
    </div>

    <a href="#" class="save-button">Save</a> | <a href="#home"><< Back</a>
</div>
