<div class="device_small">
	<div class="details">
		<span class="sensor-device"></span>
		<span class="fa fa-power-off default-device"></span>
		<input type="range" id="myRange" value="90" class="pwm-device">
	  <span class="info">
			<strong>{{name}}</strong><br/>
	    <p>{{description}}<p>
		</span>

	</div>
	<div>
		<span>hub: </span>
		<span class="hub-status">offline</span>
	</div>
</div>
