<div class="device_full">
    <img src="http://www.gravatar.com/avatar/{{gravatar}}?d=monsterid&s=250"/>
    <br/><br/>
    <strong>Name:</strong> {{name}}<br/>
    <strong>Description:</strong> {{description}}<br/>

</div>

<a href="#" class="back"><< Back</a> | <a href="#" class="delete">Delete Device</a>
