<div class="header">	

	<a href="#add" class="add-device"><span class="fa fa-plus"></span> Add Device </a>	
	
	<a href="#home" class="col-sm-offset-9"><span class="fa fa-user"> </span></a>
	<a href="#home" class="email"></a>
	<a href="/logout" class="logout"> | Signout</a>

</div>
