<div class="header">

	<span class="add-device"><span class="fa fa-plus"></span> Add Device | </span>

	<a href="#home" class=""><span class="fa fa-user"> </span></a>
	<a href="#home" class="email"></a>
	<a href="/logout" class="logout"> | Signout</a>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
