<div class="device_small">
	<div class="details">
	    <img src="http://www.gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45"/>
	    <strong>{{name}}</strong><br/>
	    <p>{{description}}<p>
	</div>    	
	<div class="onoffswitch">Off
	</div>
</div>
