<div class="device_small">
	<div class="details">
		<span class="sensor-device">45</span>
		<span class="fa fa-power-off default-device"></span>
	  <span class="info">
			<strong>{{name}}</strong><br/>
	    <p>{{description}}<p>
		</span>

	</div>
	<div class="onoffswitch">offline
	</div>
</div>
