<div class="device_small">
	<div class="details">
		<span class="fa fa-plug default-device"></span>
	    <strong>{{name}}</strong><br/>
	    <p>{{description}}<p>
	</div>    	
	<div class="onoffswitch">Off
	</div>
</div>
