<div class="container">

<div class="login-box">

	<h1><span class="fa fa-cloud"></span></h1>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-info btn-lg">Sign in</button>
		<button type="" class="btn btn-warning btn-lg">Sign Up</button>
	</form>

	<hr>

	<p>Need an account? <a href="#signup">Signup!</a></p>	

</div>