
<div class="login-box col-sm-4 col-sm-offset-4">
		<!-- LOGIN FORM -->
		<div class="title-logo"> <h2>avayah</h2> </div>
		<div class="login-header">
			<h3>Log in to avayah</h3>
		</div>
		<form action="/login" method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="email" placeholder="Email Address">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password" placeholder="Password">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox"> Remember Me
				</label>
			</div>
			<button type="submit" class="btn btn-info btn-lg">Sign in</button>
		</form>

		<div class="login-bottom">
			<p>New to avayah? <a href="#signup">Signup!</a></p>
		</div>

</div>
